* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #5a50f0, #110722);
    color: #58d2e7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

nav {
    margin: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(164, 248, 126);
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
    color: gold;
    border-radius: 5px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.bienvenida {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px;
}
